.row
  .span4
    %h1 Polls

%hr

.polls
  - @polls.each do |p|
    .poll
      %h3
        = p.title
        - if p.open?
          %span.label.label-success open
        - else
          %span.label.label-default closed
      = p.ends_at.to_s
      = Time.zone.now.to_s
      = link_to admin_poll_path(p), class: 'close', method: 'delete', confirm: 'Delete this poll?' do
        &times;
    %ol
      - p.options.each do |o|
        %li
          = link_to o.movie.title, o.movie.imdb_url, target: "_blank"
    %hr