%h1 New Poll

= simple_form_for @poll, url: admin_polls_path, html: { class: "well form-horizontal" } do |f|
  = f.input :title
  %fieldset
    %legend
      Movies
    .control-group
      - @poll.options.each_with_index do |option, index|
        = f.simple_fields_for option do |option_form|
          = option_form.input :movie_url, label: "Movie IMDB link", input_html: { name: "poll[options][#{index}][movie_url]"}

  = f.submit class: "btn btn-primary"