%h1 New Poll

= simple_form_for @poll, url: admin_polls_path, html: { class: "well form-horizontal form-search" } do |f|
  = f.input :title
  = f.input :starts_at
  = f.input :ends_at
  %fieldset
    %legend
      Movies
    .control-group.jscontainer
  = f.submit class: "btn btn-primary"