= simple_form_for poll, url: poll_votes_path(poll), method: "POST", html: {class: "well"} do |f|
  %ul.movies
    - poll.options.each do |o|
      %li
        = label_tag :option_id, o.title, for: "vote_option_#{o.id}" do
          = radio_button_tag :"vote[option_id]", o.id, false, id: "vote_option_#{o.id}"
          = link_to o.title, o.movie.imdb_url, target: "_blank"
          %span.hint
            = "(#{o.movie.year})"
    %li.attendance
      = check_box_tag :"vote[will_attend]"
      = label_tag :vote_will_attend, 'I will come'
  = f.submit "Vote!", class: "btn btn-primary", disabled: true
