!!! 5
%html(lang="en")
  %head
    %meta(charset='utf-8')
    %title Movie Club
    = stylesheet_link_tag "application", :media => "all"
    = javascript_include_tag "application"
    = csrf_meta_tags
    = yield :javascript
  %body
    .container-fluid
      .navbar
        .navbar-inner
          .container
            = link_to "Movie Club", root_path, class: "brand"
            %ul.nav
              %li.active
                = link_to "Polls", root_path
              %li
                = link_to "Movies", "#"
              %li
                - if user_signed_in?
                  Hello
                  = current_user.fullname
                - else
                  = link_to "Log In", user_sign_in_path

      - flash.each do |key, value|
        %div{class: flash_class(key) + " fade in"}= value
      = yield
